HuskyLensNode-Red People Tracker.json
[{"id":"b5846638.01ae88","type":"tab","label":"OpenCV mqtt coms","disabled":false,"info":"OpenCV -> ESP8266"},{"id":"acb2e193.9d013","type":"mqtt out","z":"b5846638.01ae88","name":"OnOff","topic":"test/onoff","qos":"2","retain":"","broker":"885486fa.a82748","x":690,"y":340,"wires":[]},{"id":"4f92c710.f05d28","type":"mqtt in","z":"b5846638.01ae88","name":"Huskylens1","topic":"test/input","qos":"2","datatype":"auto","broker":"885486fa.a82748","x":530,"y":440,"wires":[["dd12567f.f26188","d5743cf7.714e58"]]},{"id":"8d97deb2.f06ce","type":"camerapi-takephoto","z":"b5846638.01ae88","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"5","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":430,"y":260,"wires":[["985cf515.152d68"]]},{"id":"985cf515.152d68","type":"opencv","z":"b5846638.01ae88","detect":"FACE_CASCADE","output":"json","name":"","x":590,"y":260,"wires":[["acb2e193.9d013","bad28a8e.9f23f8"]]},{"id":"bad28a8e.9f23f8","type":"debug","z":"b5846638.01ae88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":280,"wires":[]},{"id":"781a1480.115a74","type":"ui_button","z":"b5846638.01ae88","name":"Face Check","group":"e7071353.9c4bf","order":1,"width":0,"height":0,"passthru":false,"label":"Face Check","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"update","topicType":"msg","x":270,"y":260,"wires":[["8d97deb2.f06ce"]]},{"id":"dd12567f.f26188","type":"ui_text","z":"b5846638.01ae88","group":"e7071353.9c4bf","order":3,"width":0,"height":0,"name":"","label":"Is There A Face","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":560,"wires":[]},{"id":"d5743cf7.714e58","type":"debug","z":"b5846638.01ae88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":460,"wires":[]},{"id":"885486fa.a82748","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7071353.9c4bf","type":"ui_group","name":"Test","tab":"d698776d.4ee7b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d698776d.4ee7b8","type":"ui_tab","name":"OnOff","icon":"dashboard","disabled":false,"hidden":false}]